# Setup

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/carloslme/Documents/GitHub/intro-data-engineering/venv/lib/python3.11/site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in /Users/carloslme/Documents/GitHub/intro-data-engineering/venv/lib/python3.11/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/carloslme/Documents/GitHub/intro-data-engineering/venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/carloslme/Documents/GitHub/intro-data-engineering/venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/carloslme/Documents/GitHub/intro-data-engineering/venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/carloslme/Documents/GitHub/intro-data-engineering/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip freeze

appnope==0.1.3
asttokens==2.2.1
backcall==0.2.0
comm==0.1.4
debugpy==1.6.7.post1
decorator==5.1.1
executing==1.2.0
ipykernel==6.25.1
ipython==8.14.0
jedi==0.19.0
jupyter_client==8.3.1
jupyter_core==5.3.1
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
numpy==1.25.2
packaging==23.1
pandas==2.1.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.10.0
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3
pyzmq==25.1.1
six==1.16.0
stack-data==0.6.2
tornado==6.3.3
traitlets==5.9.0
tzdata==2023.3
wcwidth==0.2.6

In [3]:
import pandas as pd

# Extraction

In [4]:
import os
os.getcwd()

'/Users/carloslme/Documents/GitHub/intro-data-engineering/05-data-engineering-fundamentals/hands-on'

In [5]:
df = pd.read_csv('data/Absenteeism_at_work.csv', sep=';')

In [6]:
df.head(10)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
6,10,22,7,6,1,361,52,3,28,239.554,...,0,1,1,1,0,4,80,172,27,8
7,20,23,7,6,1,260,50,11,36,239.554,...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,239.554,...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,239.554,...,0,3,1,0,0,1,88,172,29,8

In [7]:
df.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    float64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

In [9]:
df_divided = df.copy()
df_divided = df_divided.drop(df_divided.columns[[1,2,3,4,5,6,7,8,9,10]], axis=1)

In [10]:
df_divided.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         740 non-null    int64
 1   Disciplinary failure       740 non-null    int64
 2   Education                  740 non-null    int64
 3   Son                        740 non-null    int64
 4   Social drinker             740 non-null    int64
 5   Social smoker              740 non-null    int64
 6   Pet                        740 non-null    int64
 7   Weight                     740 non-null    int64
 8   Height                     740 non-null    int64
 9   Body mass index            740 non-null    int64
 10  Absenteeism time in hours  740 non-null    int64
dtypes: int64(11)
memory usage: 63.7 KB

In [11]:
del df_divided

# Transformation

In [12]:
def rename_columns(x):
    if " " in x:
        return x.replace(' ', '_').replace('/', '_').lower()
    return x.lower()

In [13]:
df = df.rename(columns=rename_columns)
print(df.head(10))

   id  reason_for_absence  month_of_absence  day_of_the_week  seasons  \
0  11                  26                 7                3        1
1  36                   0                 7                3        1
2   3                  23                 7                4        1
3   7                   7                 7                5        1
4  11                  23                 7                5        1
5   3                  23                 7                6        1
6  10                  22                 7                6        1
7  20                  23                 7                6        1
8  14                  19                 7                2        1
9   1                  22                 7                2        1

   transportation_expense  distance_from_residence_to_work  service_time  age  \
0                     289                               36            13   33
1                     118                               13            18   50
2                     179                               51            18   38
3                     279                                5            14   39
4                     289                               36            13   33
5                     179                               51            18   38
6                     361                               52             3   28
7                     260                               50            11   36
8                     155                               12            14   34
9                     235                               11            14   37

   work_load_average_day_  ...  disciplinary_failure  education  son  \
0                 239.554  ...                     0          1    2
1                 239.554  ...                     1          1    1
2                 239.554  ...                     0          1    0
3                 239.554  ...                     0          1    2
4                 239.554  ...                     0          1    2
5                 239.554  ...                     0          1    0
6                 239.554  ...                     0          1    1
7                 239.554  ...                     0          1    4
8                 239.554  ...                     0          1    2
9                 239.554  ...                     0          3    1

   social_drinker  social_smoker  pet  weight  height  body_mass_index  \
0               1              0    1      90     172               30
1               1              0    0      98     178               31
2               1              0    0      89     170               31
3               1              1    0      68     168               24
4               1              0    1      90     172               30
5               1              0    0      89     170               31
6               1              0    4      80     172               27
7               1              0    0      65     168               23
8               1              0    0      95     196               25
9               0              0    1      88     172               29

   absenteeism_time_in_hours
0                          4
1                          0
2                          2
3                          4
4                          2
5                          2
6                          8
7                          4
8                         40
9                          8

[10 rows x 21 columns]

# Load

In [14]:

df.to_csv("data/staging/Absenteeism_at_work_transformed.csv", encoding='utf-8')

In [15]:
import transform_data

In [ ]:
transform_data.